@import '../variables/colors';
@import '../variables/mixins';

.header_nav_ul.show {
    @media (max-width: 320px) {
        width: 100vw;
    }

    @media (min-width: 321px) and (max-width: 360px) {
        width: 332px;
    }

    @media (min-width: 361px) and (max-width: 375px) {
        width: 338px;
    }

    @media (min-width: 376px) and (max-width: 414px) {
        width: 350px;
    }

    @media (min-width: 415px) and (max-width: 768px) {
        width: 470px;
    }

    @media (min-width: 769px) and (max-width: 1000px) {
        width: 550px;
    }
}

@media (min-width: 1001px) {
    [class*="sectionOne_article_"] {
        justify-content: center;
    }

    .header {
        background: url("../images/yellowcar.jpg");
        background-position: center;
        background-size: cover;
    }

    .header_nav_ul_bigScreen {
        display: flex;
        margin-right: 10px;
        list-style: none;
        order: 1;

        li {
            margin: 25px;
        }

        a {
            text-decoration: none;
            font-weight: bolder;
            font-size: 30px;
            color: $colorTitle;
        }
    }

    .header_menu {
        background: rgba(0, 0, 0, 1);
        height: 70px;
    }


    .header_nav .header_nav_hamburger span,
    .header_title h2 {
        display: none;
    }

    .header_menu .header_logo {
        font-size: 30px;
        margin-left: 25px;
    }

    .header_menu .header_logo span {
        font-size: 25px;
    }
}

@media (min-width: 300px) and (max-width: 1000px) {
    .header {
        height: 600px;
    }

    .header_nav_ul_bigScreen,
    [class*="header_banner_"],
    .header_menu_animation,
    svg {
        display: none;
    }
}


@media (min-width: 700px) {
    .sectionOne .center {
        display: flex;
        flex-direction: unset;

        [class*="sectionOne_article_"] {
            display: flex;
            flex-direction: column;
            height: 200px;
            font-size: 30px;

            img {
                height: 140px;
                width: 180px;
            }
        }
    }
}

@media (min-width: 1020px) {
    .sectionOne {
        @include displayPosition();
        justify-content: center;
        height: 600px;
        width: 100vw;

        h2 {
            margin-bottom: 60px;
            font-size: 55px;
            background: none;
        }
    }

    .sectionOne .center {
        [class*="sectionOne_article_"] {
            background: none;
            height: 300px;

            img {
                width: 335px;
                height: 250px;
            }

            img:hover {
                width: 450px;
                height: 350px;
            }
        }
    }
}

@media (min-width: 650px) {
    .sectionThree {
        height: 280px;
    }

    .sectionThree .center {
        .center_box {
            display: flex;
            justify-content: center;
            width: 550px;
        }

        [class*="sectionThree_article_"] {
            width: 100%;
            font-size: 80px;

            img {
                width: 90px;
                height: 90px;
            }
        }
    }
}

@media (min-width: 1001px) {
    .sectionThree_article_one {
        span {
            font-size: 25px;
        }

        a {
            text-decoration: none;
            color: rgba(255, 0, 0, 1);
        }

        &:hover {
            transition: 0.5s;
            transform: rotate(360deg);
        }
    }

    .sectionThree_article_two {
        span {
            font-size: 25px;
        }

        a {
            text-decoration: none;
        }

        &:hover {
            transition: 0.5s;
            transform: rotate(360deg);
        }
    }

    .sectionThree_article_three {
        span {
            font-size: 25px;
        }

        a {
            text-decoration: none;
        }

        &:hover {
            transition: 0.5s;
            transform: rotate(360deg);
        }
    }

    .sectionThree_article_four {
        span {
            font-size: 25px;
        }

        a {
            text-decoration: none;
        }

        &:hover {
            transition: 0.5s;
            transform: rotate(360deg);
        }

    }
}

@media (min-width: 1020px) {
    .header_nav .header_nav_ul {
        display: none;
    }

    .sectionTwo .sectionTwo_service {
        display: flex;
        flex-direction: column;
        height: 500px;

        h3 {
            justify-content: unset;
            margin-left: 30px;
            font-size: 45px;
        }
    }

    .sectionTwo_service_form {
        label {
            width: 400px;
            font-size: 30px;

            input,
            select {
                height: 45px;
                width: 360px;
                font-size: 25px;
            }
        }

        p {
            margin-left: 200px;
            margin-bottom: 20px;
            color: $fontColor;
            animation: flyingParagraph 5s;
            animation-fill-mode: forwards;

            @keyframes flyingParagraph {
                0% {
                    font-size: 20px;
                }

                50% {
                    transform: scale(1.2, 1.5);
                    margin-left: 300px;
                }

                100% {
                    font-size: 45px;
                }
            }
        }
    }

    .submitButton {
        transition: 0.5s;
    }

    .submitButton:hover,
    .submitButton:focus,
    input:focus,
    select:focus {
        box-shadow: inset 0 0 1em, 0 0 1em rgb(17, 102, 221);
    }
}